body {
    background: linear-gradient(to right, #0a0a0a 40%, #050505 60%);
}
h1 {
    color: #402d0b;
    position: sticky;
    text-align: center;
}
p {
  color: #402d0b; 
  text-align: center; 
}
.a {
    text-align: right;
    color: #000000;
}
div {
    text-align: center;
    color: #402d0b;
}
